.search-box {
  background-color: var(--pokedex-dark);
  border: none;
  border-radius: 5px;
  color: var(--pokedex-green);
  font-weight: bold;
  margin-top: 1rem;
  padding: 10px;
  text-align: center;
  width: 12rem;
  line-height: 30px;
  margin-bottom: 2.5rem;
}

.search-box:focus {
  outline: 2px solid var(--pokedex-green);
}
