.card-container {
  display: flex;
  background-color: #ffcc00;
  border: 16px solid #2d6ab4;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.pokeball {
  width: 4rem;
  margin-right: 4rem;
}

.poke-link {
  color: black;
  text-decoration: none;
}

.poke-link:hover {
  color: red;
}
