.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--poke-yellow);
  border: 1rem solid var(--poke-blue);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transition: transform 0.25s ease-out;
  width: 20rem;
}

.card-container:hover {
  transform: scale(1.05);
}

.pokeball {
  width: 4rem;
  margin-right: 3rem;
}

.poke-link {
  color: var(--pokedex-dark);
  text-decoration: none;
  margin: 0 auto;
}

.poke-link:hover {
  color: var(--hover-link);
}
