.home-btn {
  color: var(--pokedex-dark);
  display: inline-block;
  font-size: 24px;
  padding: 2rem;
  text-decoration: none;
}

.home-btn:hover {
  color: var(--hover-link);
  text-decoration: underline;
}

.card-detail {
  cursor: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  width: 40%;
  gap: 4rem;
  font-size: 20px;
}

.card-container:hover {
  transform: none;
}

.poke-image {
  width: 12rem;
}

h3 {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-align: center;
  line-height: 2rem;
}

@media screen and (max-width: 800px) {
  .card-detail {
    width: 15rem;
  }
}
