.home-btn {
  padding: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.home-btn:hover {
  color: red;
  text-decoration: underline;
}

.card-detail {
  cursor: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  width: 40rem;
  gap: 4rem;
  font-size: 20px;
}

.card-container:hover {
  transform: none;
}

.poke-image {
  width: 12rem;
}

h3 {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-align: center;
  line-height: 2rem;
}
