:root {
  --pokedex-dark: #252323;
  --pokedex-green: #23be23;
  --poke-blue: #2d6ab4;
  --poke-yellow: #ffcc00;
  --hover-link: red;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(226, 35, 14) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.app-title {
  color: var(--poke-yellow);
  font-size: 3rem;
  margin-top: 3rem;
  text-shadow: 4px 4px var(--poke-blue);
}
